* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("clock.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#time {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 25rem;
    margin: auto;
    margin-top: 250px;
    font-size: 50px;
    font-weight: bolder;
    background-color: darkgray;
    border: 2px solid gray;
    border-radius: 50%;
}

@media screen and (max-width:414px) {
    #time {
        width: 20rem;
        font-size: 50px;
    }
}